@font-face {
  font-family: 'Sharp Grotesk DB Cyr Book 20';
  src: url('../fonts/SharpGroteskDBCyrBook20-Regular.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Grotesk DB Cyr Medium 22';
  src: url('../fonts/SharpGroteskDBCyrMedium22-Regular.otf') format('truetype');
  font-style: normal;
}

